{% load static %}

<html>
  <head>
    <title>{% block title %}UFC Rankings{% endblock %}</title>
  </head>

  <body>
  <header class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="{% url 'weightclass_list' %}">UFC Rankings</a>
      <nav class="nav-links">
        {% if user.is_authenticated %}
          <span class="message">Hi {{ user.username }}</span>
          <a href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
      </nav>
    </div>
</header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  </body>
  
</html>